<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>processing</string>
		<string>external-accessory</string>
		<string>location</string>
		<string>remote-notification</string>
		<string>fetch</string>
		<string>nearby-interaction</string>
	</array>
	
	<!-- Facebook Configuration -->
	<key>FacebookAppID</key>
	<string>599575236581747</string>
	<key>FacebookClientToken</key>
	<string>ea5acd844d7b936bbd16615049e1875b</string>
	<key>FacebookDisplayName</key>
	<string>Fitter</string>
	<key>FacebookAutoLogAppEventsEnabled</key>
	<false/>
	<key>FacebookAdvertiserIDCollectionEnabled</key>
	<false/>
	
	<!-- URL Schemes -->
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.googleusercontent.apps.726733458197-2vcorsr654o02345agqqh9mo3gpmc7cs</string>
			</array>
		</dict>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>fb599575236581747</string>
			</array>
		</dict>
	</array>
	
	<!-- Google Sign-In Configuration -->
	<key>GIDClientID</key>
	<string>726733458197-2vcorsr654o02345agqqh9mo3gpmc7cs.apps.googleusercontent.com</string>
	<key>GOOGLE_APP_ID</key>
	<string>1:726733458197:ios:0f53bee6f5fdcb2b08b71c</string>
	
	<!-- LSApplicationQueriesSchemes for Facebook -->
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>fbapi</string>
		<string>fb-messenger-share-api</string>
		<string>fbauth2</string>
		<string>fbshareextension</string>
	</array>
	
	<!-- Basic App Configuration -->
	<key>CFBundleDevelopmentRegion</key>
	<string>$(DEVELOPMENT_LANGUAGE)</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>$(PRODUCT_BUNDLE_PACKAGE_TYPE)</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
	</dict>
	<key>UILaunchScreen</key>
	<dict/>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
	</array>
</dict>
</plist>
